@model Best_Rent_A_Car.Models.CarReservation

@{
    ViewData["Title"] = "Accept";
}

<h1>Accept</h1>

<h3>Are you sure you want to accept this query?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
    
    <form asp-action="Accept">
        <input type="hidden" asp-for="VisibleUserID" />
        <input type="hidden" asp-for="CarID" />
        <input type="submit" value="Accept" class="btn btn-danger btn-green"   /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</style>
<style>
.btn-green {
    background-color: #28a745; /* Green color */
    border-color: #28a745; /* Green color */
}

.btn-green:hover {
    background-color: #218838; /* Darker green color on hover */
    border-color: #1e7e34; /* Darker green color on hover */
}
</style>
