@model IEnumerable<Best_Rent_A_Car.Models.CarReservation>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.ActionLink("Accept", "Accept", new { userId = item.User.Id, carId = item.CarID }) |
                @Html.ActionLink("Decline", "Decline", new { userId = item.User.Id, carId = item.CarID }) |
                @Html.ActionLink("Details", "Details", new { userId = item.User.Id, carId = item.CarID })
            </td>
        </tr>
}
    </tbody>
</table>
